* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ===============
    Header Starts
=============== */
header {
  background: #444444;
}

header .header-left ul li:first-child {
  margin-left: 0;
}

header .header-right ul li:last-child {
  margin-right: 0;
}

header ul li {
  border-right: 1px solid #dddddd;
}

header ul li:last-child {
  border-right: none;
}

header ul li a {
  line-height: 50px;
  margin: 0 18px;
  font-size: 13px;
  color: #dddddd;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

header ul li a:hover {
  color: #de4644;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

/* ===============
    Navbar Starts
================ */
nav {
  margin: 30px 0;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: #222222;
  margin: 0 10px;
  padding: 0;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #de4644;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
  width: 23px;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
  width: 11px;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link::before {
  content: '';
  width: 0px;
  height: 1px;
  background: #de4644;
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link::after {
  content: '';
  width: 0px;
  height: 1px;
  background: #de4644;
  position: absolute;
  bottom: -11px;
  left: 0;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

nav .navbar-collapse .navbar-nav .nav-item .active {
  color: #de4644 !important;
}

nav .navbar-collapse .navbar-nav .nav-item .active::before {
  width: 23px;
}

nav .navbar-collapse .navbar-nav .nav-item .active::after {
  width: 11px;
}

nav .navbar-collapse form i {
  color: #444444;
}

nav .navbar-collapse .cart-item {
  font-size: 16px;
  color: #de4644;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-left: 15px;
}

/* ===============
    Navbar Ends
================ */
/* ===============
    Header Ends
=============== */
/* =========================
    Services Part Starts
======================== */
#service-head {
  background: #f1f1f1;
}

#service-head .service-head .service-head-item {
  border-right: 1px solid #dddddd;
  padding: 25px 0;
}

#service-head .service-head .service-head-item .active {
  color: #de4644;
}

#service-head .service-head .service-head-item h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 25px !important;
}

#service-head .service-head .service-head-item h5 i {
  margin-right: 5px;
}

#service-head .service-head .service-head-item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

#service-body {
  padding: 90px 0;
}

#service-body .service-body .service-item {
  -webkit-transform: scaleX(0.95);
          transform: scaleX(0.95);
}

#service-body .service-body .service-item .service-item-body {
  overflow: hidden;
}

#service-body .service-body .service-item .service-item-body img {
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
}

#service-body .service-body .service-item .service-item-body:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#service-body .service-body .service-item .service-item-body .sale-badge {
  width: 160px;
  height: 160px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

#service-body .service-body .service-item .service-item-body .sale-badge span {
  background: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 25px;
  color: #de4644;
  position: absolute;
  text-align: center;
  top: -20px;
  left: -65px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  z-index: 9;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#service-body .service-body .service-item .overlay {
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: scaleX(0.9);
          transform: scaleX(0.9);
  padding-top: 5px;
  padding-bottom: 10px;
  bottom: 20px;
  position: absolute;
  width: 100%;
}

#service-body .service-body .service-item .overlay h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

#service-body .service-body .service-item .overlay p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 15px;
}

#service-body .service-body .service-item .overlay a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 55px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 0 20px;
  border-radius: 3px;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#service-body .service-body .service-item .overlay a:hover {
  background: #de4644;
  border-color: #de4644;
}

/* ======================
   Services Part Ends
====================== */
#launch-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
  padding: 60px 0;
}

#launch-product .launch-product-details {
  width: 570px;
  margin-left: 35px;
}

#launch-product .launch-product-details h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #222222;
}

#launch-product .launch-product-details h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #de4644;
  padding-bottom: 15px;
}

#launch-product .launch-product-details p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 20px;
}

#launch-product .launch-product-details #countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

#launch-product .launch-product-details #countdown .wrapper {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

#launch-product .launch-product-details #countdown .wrapper span {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #444444;
  display: block;
  text-align: center;
  text-transform: capitalize !important;
}

#launch-product .launch-product-details #countdown #days {
  width: 80px;
  height: 80px;
  border: 1px solid #353535;
  margin-right: 30px;
}

#launch-product .launch-product-details #countdown #hours {
  width: 80px;
  height: 80px;
  border: 1px solid #353535;
  margin-right: 30px;
}

#launch-product .launch-product-details #countdown #mins {
  width: 80px;
  height: 80px;
  border: 1px solid #353535;
  margin-right: 30px;
}

#launch-product .launch-product-details #countdown #sec {
  width: 80px;
  height: 80px;
  border: 1px solid #353535;
  margin-right: 30px;
  margin-right: 0 !important;
}

#banner .banner-slider .bg-1 {
  background: url(../images/banner-1.jpg) no-repeat center/cover;
}

#banner .banner-slider .bg-1 a:first-of-type {
  background: #de4644;
  border-color: #de4644;
}

#banner .banner-slider .bg-2 {
  background: url(../images/banner-2.jpg) no-repeat center/cover;
}

#banner .banner-slider .bg-2 a:last-of-type {
  background: #de4644;
  border-color: #de4644;
}

#banner .banner-slider .banner-item {
  position: relative;
  z-index: 1;
  padding-top: 125px;
  padding-bottom: 150px;
}

#banner .banner-slider .banner-item h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #de4644;
}

#banner .banner-slider .banner-item h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  padding-bottom: 10px;
}

#banner .banner-slider .banner-item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 60px;
}

#banner .banner-slider .banner-item a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 55px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 0 20px;
  border-radius: 3px;
  line-height: 52px;
  transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  margin-right: 20px;
}

#banner .banner-slider .banner-item a:hover {
  background: #de4644;
  border-color: #de4644;
}

#banner .banner-slider .banner-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

footer .footer-main {
  background: #353535;
  padding-top: 60px;
  padding-bottom: 55px;
}

footer .footer-main .footer-item h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px !important;
}

footer .footer-main .footer-item ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #dddddd;
  line-height: 24px;
}

footer .footer-main .footer-item ul li a {
  color: #dddddd;
}

footer .footer-main .footer-detail ul {
  margin-top: 10px;
}

footer .footer-main .footer-detail ul li {
  margin-bottom: 20px;
}

footer .footer-main .footer-detail ul li:last-child {
  margin-bottom: 0;
}

footer .footer-main .footer-contact ul li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 20px;
}

footer .footer-main .footer-contact ul li:last-child {
  padding-bottom: 0;
}

footer .footer-main .footer-contact ul li .icon {
  position: absolute;
  left: 0;
}

footer .footer-main .footer-contact ul li .icon i {
  font-size: 13px;
}

footer .footer-main .footer-account ul li {
  margin-bottom: 10px;
}

footer .footer-main .footer-account ul li:last-child {
  margin-bottom: 0;
}

footer .footer-main .footer-account ul li a {
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

footer .footer-main .footer-account ul li a:hover {
  padding-left: 5px;
  color: #de4644;
}

footer .footer-main .footer-form h4 {
  margin-bottom: 30px !important;
}

footer .footer-main .footer-form .input-group {
  margin-bottom: 30px;
}

footer .footer-main .footer-form .input-group .form-control {
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  outline: none;
  color: #dddddd;
}

footer .footer-main .footer-form .input-group .input-group-text {
  background: #de4644;
  padding: 0 20px;
  border: none;
  color: #fff;
}

footer .footer-main .footer-form a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  color: #222222;
  margin-right: 23px;
  background: #fff;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

footer .footer-main .footer-form a:last-child {
  margin-right: 0;
}

footer .footer-main .footer-form a:hover {
  background: #de4644;
  color: #fff;
}

footer .footer-copyright {
  background: #555555;
}

footer .footer-copyright .copyright-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 55px;
}

footer .footer-copyright .copyright-text p a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #de4644;
}

footer .footer-copyright .footer-payment {
  padding-top: 10px;
}
/*# sourceMappingURL=style.css.map */