* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* =================
    Common Css Ends
=================== */
/* ===============
    Header Starts
=============== */
header {
  background: #444444;
}

header .header-left ul li:first-child {
  margin-left: 0;
}

header .header-right ul li:last-child {
  margin-right: 0;
}

header ul li {
  border-right: 1px solid #dddddd;
}

header ul li:last-child {
  border-right: none;
}

header ul li a {
  line-height: 50px;
  margin: 0 18px;
  font-size: 13px;
  color: #dddddd;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

header ul li a:hover {
  color: #de4644;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

/* ===============
    Navbar Starts
================ */
nav {
  margin: 30px 0;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: #222222;
  margin: 0 10px;
  padding: 0;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #de4644;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
  width: 23px;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
  width: 11px;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link::before {
  content: '';
  width: 0px;
  height: 1px;
  background: #de4644;
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link::after {
  content: '';
  width: 0px;
  height: 1px;
  background: #de4644;
  position: absolute;
  bottom: -11px;
  left: 0;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

nav .navbar-collapse .navbar-nav .nav-item .active {
  color: #de4644 !important;
}

nav .navbar-collapse .navbar-nav .nav-item .active::before {
  width: 23px;
}

nav .navbar-collapse .navbar-nav .nav-item .active::after {
  width: 11px;
}

nav .navbar-collapse form i {
  color: #444444;
}

nav .navbar-collapse .cart-item {
  font-size: 16px;
  color: #de4644;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-left: 15px;
}

/* ===============
    Navbar Ends
================ */
/* ===============
    Header Ends
=============== */
/* ===============
   Banner Starts 
================ */
#banner .banner-slider {
  position: relative;
}

#banner .banner-slider .bg-1 {
  background: url(../images/banner-1.jpg) no-repeat center/cover;
}

#banner .banner-slider .bg-1 a:first-of-type {
  background: #de4644;
  border-color: #de4644;
}

#banner .banner-slider .bg-2 {
  background: url(../images/banner-2.jpg) no-repeat center/cover;
}

#banner .banner-slider .bg-2 a:last-of-type {
  background: #de4644;
  border-color: #de4644;
}

#banner .banner-slider .fa-chevron-left {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  z-index: 2;
  left: calc(50% - 45px);
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#banner .banner-slider .fa-chevron-left:hover {
  background: #de4644;
  border-color: #de4644;
}

#banner .banner-slider .fa-chevron-right {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  z-index: 2;
  right: calc(50% - 45px);
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#banner .banner-slider .fa-chevron-right:hover {
  background: #de4644;
  border-color: #de4644;
}

#banner .banner-slider .banner-item {
  position: relative;
  z-index: 1;
  padding-top: 125px;
  padding-bottom: 150px;
}

#banner .banner-slider .banner-item h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #de4644;
}

#banner .banner-slider .banner-item h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  padding-bottom: 10px;
}

#banner .banner-slider .banner-item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 60px;
}

#banner .banner-slider .banner-item a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 55px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 0 20px;
  border-radius: 3px;
  line-height: 52px;
  transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  margin-right: 20px;
}

#banner .banner-slider .banner-item a:hover {
  background: #de4644;
  border-color: #de4644;
}

#banner .banner-slider .banner-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* ===============
   Banner Ends 
================ */
/* =========================
    Services Part Starts
======================== */
#service-head {
  background: #f1f1f1;
}

#service-head .service-head .service-head-item {
  border-right: 1px solid #dddddd;
  padding: 25px 0;
}

#service-head .service-head .service-head-item .active {
  color: #de4644;
}

#service-head .service-head .service-head-item h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 25px !important;
}

#service-head .service-head .service-head-item h5 i {
  margin-right: 5px;
}

#service-head .service-head .service-head-item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

#service-body {
  padding: 90px 0;
}

#service-body .service-body .service-item {
  padding: 0 10px;
}

#service-body .service-body .service-item .service-item-body {
  overflow: hidden;
}

#service-body .service-body .service-item .service-item-body img {
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
}

#service-body .service-body .service-item .service-item-body:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#service-body .service-body .service-item .service-item-body .sale-badge {
  width: 160px;
  height: 160px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

#service-body .service-body .service-item .service-item-body .sale-badge span {
  background: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 25px;
  color: #de4644;
  position: absolute;
  text-align: center;
  top: -20px;
  left: -65px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  z-index: 9;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#service-body .service-body .service-item .overlay {
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: scaleX(0.9);
          transform: scaleX(0.9);
  padding-top: 5px;
  padding-bottom: 10px;
  bottom: 20px;
  position: absolute;
  width: 100%;
}

#service-body .service-body .service-item .overlay h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

#service-body .service-body .service-item .overlay p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 15px;
}

#service-body .service-body .service-item .overlay a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 55px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 0 20px;
  border-radius: 3px;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#service-body .service-body .service-item .overlay a:hover {
  background: #de4644;
  border-color: #de4644;
}

/* ======================
   Services Part Ends
====================== */
/* ======================
   Countdown Part Starts
======================== */
#launch-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
  padding: 60px 0;
}

#launch-product .launch-product-details {
  width: 570px;
  margin-left: 35px;
}

#launch-product .launch-product-details h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #222222;
}

#launch-product .launch-product-details h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #de4644;
  padding-bottom: 15px;
}

#launch-product .launch-product-details p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 20px;
}

#launch-product .launch-product-details #countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

#launch-product .launch-product-details #countdown .wrapper {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

#launch-product .launch-product-details #countdown .wrapper span {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #444444;
  display: block;
  text-align: center;
  text-transform: capitalize !important;
}

#launch-product .launch-product-details #countdown #days {
  width: 80px;
  height: 80px;
  border: 1px solid #353535;
  margin-right: 30px;
}

#launch-product .launch-product-details #countdown #hours {
  width: 80px;
  height: 80px;
  border: 1px solid #353535;
  margin-right: 30px;
}

#launch-product .launch-product-details #countdown #mins {
  width: 80px;
  height: 80px;
  border: 1px solid #353535;
  margin-right: 30px;
}

#launch-product .launch-product-details #countdown #sec {
  width: 80px;
  height: 80px;
  border: 1px solid #353535;
  margin-right: 30px;
  margin-right: 0 !important;
}

/* ======================
   Countdown Part Starts
======================== */
/*  =====================
     Feature Part Starts
=======================  */
#feature {
  padding-bottom: 100px;
}

#feature .feature-heading {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 70px;
  position: relative;
  text-align: center;
}

#feature .feature-heading::before {
  content: '';
  position: absolute;
  bottom: 60px;
  left: 4px;
  width: 172px;
  height: 1px;
  background: #de4644;
}

#feature .feature-heading::after {
  content: '';
  position: absolute;
  bottom: 55px;
  left: 4px;
  width: 86px;
  height: 1px;
  background: #de4644;
}

#feature .feature-heading h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #222222;
}

#feature .feature-tabs .tab-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px !important;
}

#feature .feature-tabs .tab-btn li {
  border-right: 1px solid #444444;
}

#feature .feature-tabs .tab-btn li:first-child {
  padding-left: 0;
}

#feature .feature-tabs .tab-btn li:last-child {
  border-right: none;
  padding-right: 0;
}

#feature .feature-tabs .tab-btn li button {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0 23px;
  color: #222222;
  background: none;
  border: none;
}

#feature .feature-tabs .tab-btn li button:hover {
  color: #de4644;
}

#feature .feature-tabs .tab-btn li .mixitup-control-active {
  color: #de4644;
}

#feature .feature-tabs .tab-item .tab-image {
  position: relative;
  overflow: hidden;
}

#feature .feature-tabs .tab-item .tab-image:hover .overlay {
  right: 0;
  visibility: visible;
}

#feature .feature-tabs .tab-item .tab-image .overlay {
  width: 100px;
  height: 100%;
  position: absolute;
  right: -120px;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  visibility: hidden;
}

#feature .feature-tabs .tab-item .tab-image .overlay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#feature .feature-tabs .tab-item .tab-image .overlay ul li {
  margin-bottom: 30px;
}

#feature .feature-tabs .tab-item .tab-image .overlay ul li:last-child {
  margin-bottom: 0;
}

#feature .feature-tabs .tab-item .tab-image .overlay ul li a {
  width: 50px;
  height: 50px;
  border: 1px solid #fffefe;
  color: #fffefe;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 25px;
  transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}

#feature .feature-tabs .tab-item .tab-image .overlay ul li a:hover {
  background: #de4644;
  border-color: #de4644;
}

#feature .feature-tabs .tab-item .tab-rewards .pro-name-price .name-price {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#feature .feature-tabs .tab-item .tab-rewards .pro-name-price .name-price h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #222222;
}

#feature .feature-tabs .tab-item .tab-rewards .pro-name-price ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#feature .feature-tabs .tab-item .tab-rewards .pro-name-price ul li {
  margin-right: 5px;
}

#feature .feature-tabs .tab-item .tab-rewards .pro-name-price ul li:last-child {
  margin-right: 0;
}

#feature .feature-tabs .tab-item .tab-rewards .pro-name-price ul li a {
  color: #de4644;
}

/*  =====================
     Feature Part Ends
=======================  */
/* ===================
  Product Part Starts
=================== */
#latest-product {
  padding-top: 90px;
  padding-bottom: 100px;
}

#latest-product .latest-product-heading {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 70px;
  position: relative;
  text-align: center;
}

#latest-product .latest-product-heading::before {
  content: '';
  position: absolute;
  bottom: 60px;
  left: 30px;
  width: 146px;
  height: 1px;
  background: #de4644;
}

#latest-product .latest-product-heading::after {
  content: '';
  position: absolute;
  bottom: 55px;
  left: 30px;
  width: 73px;
  height: 1px;
  background: #de4644;
}

#latest-product .latest-product-heading h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #222222;
}

#latest-product .product-slider .fa-chevron-left {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  z-index: 2;
  color: #444444;
  border-color: #444444;
  bottom: -70px;
  left: calc(50% - 45px);
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#latest-product .product-slider .fa-chevron-left:hover {
  background: #de4644;
  border-color: #de4644;
  color: #fff;
}

#latest-product .product-slider .fa-chevron-right {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  z-index: 2;
  color: #444444;
  bottom: -70px;
  border-color: #444444;
  right: calc(50% - 45px);
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#latest-product .product-slider .fa-chevron-right:hover {
  background: #de4644;
  border-color: #de4644;
  color: #fff;
}

#latest-product .product-slider .product-item {
  padding: 0 10px;
}

#latest-product .product-slider .product-item .product-image {
  position: relative;
  overflow: hidden;
}

#latest-product .product-slider .product-item .product-image:hover .overlay {
  right: 0;
  visibility: visible;
}

#latest-product .product-slider .product-item .product-image .overlay {
  width: 100px;
  height: 100%;
  position: absolute;
  right: -120px;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  visibility: hidden;
}

#latest-product .product-slider .product-item .product-image .overlay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#latest-product .product-slider .product-item .product-image .overlay ul li {
  margin-bottom: 30px;
}

#latest-product .product-slider .product-item .product-image .overlay ul li:last-child {
  margin-bottom: 0;
}

#latest-product .product-slider .product-item .product-image .overlay ul li a {
  width: 50px;
  height: 50px;
  border: 1px solid #fffefe;
  color: #fffefe;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 25px;
  transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}

#latest-product .product-slider .product-item .product-image .overlay ul li a:hover {
  background: #de4644;
  border-color: #de4644;
}

#latest-product .product-slider .product-item .product-rewards .pro-name-price .name-price {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#latest-product .product-slider .product-item .product-rewards .pro-name-price .name-price h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #222222;
}

#latest-product .product-slider .product-item .product-rewards .pro-name-price ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#latest-product .product-slider .product-item .product-rewards .pro-name-price ul li {
  margin-right: 5px;
}

#latest-product .product-slider .product-item .product-rewards .pro-name-price ul li:last-child {
  margin-right: 0;
}

#latest-product .product-slider .product-item .product-rewards .pro-name-price ul li a {
  color: #de4644;
}

/* ===================
  Product Part Ends
=================== */
/*  =======================
    Testimonial Part Starts
======================== */
#testimonial {
  padding-top: 60px;
}

#testimonial .testimonial-head {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 70px;
  position: relative;
  text-align: center;
}

#testimonial .testimonial-head::before {
  content: '';
  position: absolute;
  bottom: 60px;
  left: 67px;
  width: 107px;
  height: 1px;
  background: #de4644;
}

#testimonial .testimonial-head::after {
  content: '';
  position: absolute;
  bottom: 55px;
  left: 67px;
  width: 54px;
  height: 1px;
  background: #de4644;
}

#testimonial .testimonial-head h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #222222;
}

#testimonial .testimonial-body {
  background: url(../images/testimonial-bg.jpg) no-repeat center/cover;
  position: relative;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 130px;
}

#testimonial .testimonial-body::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

#testimonial .testimonial-body .testimonial-slider .fa-chevron-left {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  z-index: 2;
  bottom: -70px;
  left: calc(50% - 45px);
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#testimonial .testimonial-body .testimonial-slider .fa-chevron-left:hover {
  background: #de4644;
  border-color: #de4644;
  color: #fff;
}

#testimonial .testimonial-body .testimonial-slider .fa-chevron-right {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  z-index: 2;
  bottom: -70px;
  right: calc(50% - 45px);
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#testimonial .testimonial-body .testimonial-slider .fa-chevron-right:hover {
  background: #de4644;
  border-color: #de4644;
  color: #fff;
}

#testimonial .testimonial-body .testimonial-slider .testimonial-item {
  padding-right: 30px;
}

#testimonial .testimonial-body .testimonial-slider .testimonial-item .testimonial-right {
  color: #fff;
}

#testimonial .testimonial-body .testimonial-slider .testimonial-item .testimonial-right h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px !important;
}

#testimonial .testimonial-body .testimonial-slider .testimonial-item .testimonial-right h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 25px !important;
}

#testimonial .testimonial-body .testimonial-slider .testimonial-item .testimonial-right p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #dddddd;
  margin-bottom: 20px !important;
}

#testimonial .testimonial-body .testimonial-slider .testimonial-item .testimonial-right .signature img {
  margin-left: auto;
}

/*  =======================
    Testimonial Part Ends
======================== */
/* =============
   Blog Starts
============== */
#blog {
  padding-top: 90px;
  padding-bottom: 95px;
}

#blog .blog-head {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 70px;
  position: relative;
  text-align: center;
}

#blog .blog-head::before {
  content: '';
  position: absolute;
  bottom: 60px;
  left: 92px;
  width: 81px;
  height: 1px;
  background: #de4644;
}

#blog .blog-head::after {
  content: '';
  position: absolute;
  bottom: 55px;
  left: 92px;
  width: 41px;
  height: 1px;
  background: #de4644;
}

#blog .blog-head h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #222222;
}

#blog .blog-body .blog-item .blog-image {
  position: relative;
}

#blog .blog-body .blog-item .blog-image:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#blog .blog-body .blog-item .blog-image .overlay {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  inset: 0;
  padding: 20px;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
}

#blog .blog-body .blog-item .blog-image .overlay a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #dddddd;
}

#blog .blog-body .blog-item .blog-image .overlay .blog-link a {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  line-height: 40px;
  transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}

#blog .blog-body .blog-item .blog-image .overlay .blog-link a:hover {
  background: #de4644;
  border-color: #de4644;
}

#blog .blog-body .blog-item .blog-image .overlay .blog-rewards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog .blog-body .blog-item .blog-content h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #222222;
  margin-top: 25px !important;
}

#blog .blog-body .blog-item .blog-content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  color: #444444;
  margin-top: 25px !important;
  margin-bottom: 20px !important;
}

#blog .blog-body .blog-item .blog-content a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}

#blog .blog-body .blog-item .blog-content a:hover {
  color: #de4644;
}

/* =============
   Blog Starts
============== */
/* ========================
    Breadcrumbs Part Starts
========================== */
#breadcrumbs {
  background: url(../images/bradcrumbs-banner.jpg) no-repeat center/cover;
  position: relative;
  padding: 70px 0;
  z-index: 1;
}

#breadcrumbs::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

#breadcrumbs .breadcrumb-text h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin-bottom: 5px !important;
}

#breadcrumbs .breadcrumb-text a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

#breadcrumbs .breadcrumb-text a:last-child {
  color: #de4644;
}

#breadcrumbs .breadcrumb-text i {
  margin: 0 5px;
  color: #fff;
}

/* ========================
    Breadcrumbs Part Ends
========================== */
/* ===================
    About Part Starts
==================== */
#about-details {
  position: relative;
  padding: 100px 0;
}

#about-details .about-image .about-image-bg {
  position: absolute;
  z-index: -1;
}

#about-details .about-text {
  padding: 50px 0;
}

#about-details .about-text .about-text-bg {
  padding: 60px 20px;
  background: rgba(0, 0, 0, 0.9);
}

#about-details .about-text .about-text-bg ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #dddddd;
  text-align: justify;
  padding-bottom: 20px;
}

#about-details .about-text .about-text-bg ul li:last-child {
  padding-bottom: 0px;
}

/* ===================
    About Part Ends
==================== */
/* =======================
    Counterup Part Starts
======================= */
#counter {
  background: url(../images/about-page-counterup.jpg) no-repeat center/cover;
  padding: 50px 0;
  position: relative;
  z-index: 1;
}

#counter::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: -1;
}

#counter .counter-item h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
}

#counter .counter-item p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

/* =======================
    Counterup Part Ends
======================= */
/* ===========================
    Our Designer Part Starts
=========================== */
#our-designer {
  padding-top: 90px;
  padding-bottom: 100px;
}

#our-designer .designer-head {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 70px;
  position: relative;
  text-align: center;
}

#our-designer .designer-head::before {
  content: '';
  position: absolute;
  bottom: 60px;
  left: 52px;
  width: 146px;
  height: 1px;
  background: #de4644;
}

#our-designer .designer-head::after {
  content: '';
  position: absolute;
  bottom: 55px;
  left: 52px;
  width: 73px;
  height: 1px;
  background: #de4644;
}

#our-designer .designer-head h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #222222;
}

#our-designer .designer-body .designer-item {
  padding: 0 10px;
}

#our-designer .designer-body .designer-item .designer-image {
  position: relative;
  overflow: hidden;
}

#our-designer .designer-body .designer-item .designer-image:hover .overlay {
  right: 0;
  visibility: visible;
}

#our-designer .designer-body .designer-item .designer-image .overlay {
  width: 100px;
  height: 100%;
  position: absolute;
  right: -120px;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  visibility: hidden;
}

#our-designer .designer-body .designer-item .designer-image .overlay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#our-designer .designer-body .designer-item .designer-image .overlay ul li {
  margin-bottom: 30px;
}

#our-designer .designer-body .designer-item .designer-image .overlay ul li:last-child {
  margin-bottom: 0;
}

#our-designer .designer-body .designer-item .designer-image .overlay ul li a {
  width: 50px;
  height: 50px;
  border: 1px solid #fffefe;
  color: #fffefe;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 25px;
  transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}

#our-designer .designer-body .designer-item .designer-image .overlay ul li a:hover {
  background: #de4644;
  border-color: #de4644;
}

#our-designer .designer-body .designer-item .designer-title {
  padding: 20px;
  border: 1px solid #777;
  border-top: none;
}

#our-designer .designer-body .designer-item .designer-title h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #222222;
  margin-bottom: 5px !important;
}

#our-designer .designer-body .designer-item .designer-title p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #444444;
}

/* ===========================
    Our Designer Part Ends
=========================== */
/* =========================
    Our Partner Part Starts
========================== */
#our-partner {
  padding-bottom: 95px;
}

#our-partner .partner-slider .fa-chevron-left {
  width: 30px;
  height: 30px;
  border: 1px solid #444444;
  line-height: 30px;
  color: #222222;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 45px;
  z-index: 2;
  left: -45px;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#our-partner .partner-slider .fa-chevron-left:hover {
  color: #fff;
  background: #de4644;
  border-color: #de4644;
}

#our-partner .partner-slider .fa-chevron-right {
  width: 30px;
  height: 30px;
  border: 1px solid #444444;
  line-height: 30px;
  color: #222222;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 45px;
  z-index: 2;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  right: -50px;
}

#our-partner .partner-slider .fa-chevron-right:hover {
  color: #fff;
  background: #de4644;
  border-color: #de4644;
}

#our-partner .partner-slider .slick-center img {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

#our-partner .partner-slider .partner-item {
  padding: 0 15px;
}

#our-partner .partner-slider .partner-item img {
  transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}

/* =========================
    Our Partner Part Ends
========================== */
/* =========================
  Page Lower Portion Starts
========================== */
footer .footer-main {
  background: #353535;
  padding-top: 60px;
  padding-bottom: 55px;
}

footer .footer-main .footer-item h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px !important;
}

footer .footer-main .footer-item ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #dddddd;
  line-height: 24px;
}

footer .footer-main .footer-item ul li a {
  color: #dddddd;
}

footer .footer-main .footer-detail ul {
  margin-top: 10px;
}

footer .footer-main .footer-detail ul li {
  margin-bottom: 20px;
}

footer .footer-main .footer-detail ul li:last-child {
  margin-bottom: 0;
}

footer .footer-main .footer-contact ul li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 20px;
}

footer .footer-main .footer-contact ul li:last-child {
  padding-bottom: 0;
}

footer .footer-main .footer-contact ul li .icon {
  position: absolute;
  left: 0;
}

footer .footer-main .footer-contact ul li .icon i {
  font-size: 13px;
}

footer .footer-main .footer-account ul li {
  margin-bottom: 10px;
}

footer .footer-main .footer-account ul li:last-child {
  margin-bottom: 0;
}

footer .footer-main .footer-account ul li a {
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

footer .footer-main .footer-account ul li a:hover {
  padding-left: 5px;
  color: #de4644;
}

footer .footer-main .footer-form h4 {
  margin-bottom: 30px !important;
}

footer .footer-main .footer-form .input-group {
  margin-bottom: 30px;
}

footer .footer-main .footer-form .input-group .form-control {
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  outline: none;
  color: #dddddd;
}

footer .footer-main .footer-form .input-group .input-group-text {
  background: #de4644;
  padding: 0 20px;
  border: none;
  color: #fff;
}

footer .footer-main .footer-form a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  color: #222222;
  margin-right: 23px;
  background: #fff;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

footer .footer-main .footer-form a:last-child {
  margin-right: 0;
}

footer .footer-main .footer-form a:hover {
  background: #de4644;
  color: #fff;
}

footer .footer-copyright {
  background: #555555;
}

footer .footer-copyright .copyright-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 55px;
}

footer .footer-copyright .copyright-text p a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #de4644;
}

footer .footer-copyright .footer-payment {
  padding-top: 10px;
}

/* =======================
   Page Lower Portion Ends 
======================== */
/*# sourceMappingURL=style.css.map */