@import '../variables';


/* ===========================
    Our Designer Part Starts
=========================== */

#our-designer {

    padding-top: 90px;
    padding-bottom: 40px;

    .designer-head {
        width: 350px;
        margin: 0 auto;
        padding-bottom: 70px;
        position: relative;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            bottom: 60px;
            left: 52px;
            width: 146px;
            height: 1px;
            background: $brand;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 55px;
            left: 52px;
            width: 73px;
            height: 1px;
            background: $brand;
        }


        h3 {
            @include comhed;
        }
    }

    .designer-body {
        .designer-item {
            padding: 0 10px;

            .designer-image {
                position: relative;
                overflow: hidden;

                &:hover {
                    .overlay {
                        right: 0;
                        visibility: visible;

                    }
                }

                // img {}

                .overlay {
                    width: 100px;
                    height: 100%;
                    position: absolute;
                    right: -120px;
                    top: 0;
                    background: rgba(0, 0, 0, 0.7);
                    @include trans(.2s);
                    visibility: hidden;


                    ul {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        li {
                            margin-bottom: 30px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            a {
                                width: 50px;
                                height: 50px;
                                border: 1px solid #fffefe;
                                color: #fffefe;
                                text-align: center;
                                line-height: 50px;
                                border-radius: 50%;
                                font-size: 25px;
                                @include trans(.5s);

                                &:hover {
                                    @include bhover;
                                }
                            }
                        }
                    }
                }
            }

            .designer-title {
                padding: 20px;
                border: 1px solid #777;
                border-top: none;

                h3 {
                    @include ralemed;
                    font-size: 20px;
                    color: $cl3;
                    margin-bottom: 5px !important
                }

                p {
                    @include ralemed;
                    font-size: 16px;
                    color: $bg1;
                }
            }
        }
    }
}


/* ===========================
    Our Designer Part Ends
=========================== */