@import '../variables';

/* =========================
    Services Part Starts
======================== */

#service-head {
    background: $cl2;

    .service-head {
        .service-head-item {
            border-right: 1px solid $cl1;
            padding: 25px 0;

            .active {
                color: $brand;
            }

            h5 {
                @include openreg;
                font-size: 24px;
                margin-bottom: 25px !important;

                i {
                    margin-right: 5px
                }
            }

            p {
                @include openreg;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}

#service-body {
    padding: 90px 0;

    .service-body {
        .service-item {
            padding: 0 10px;

            .service-item-body {
                overflow: hidden;

                img {
                    transition: all linear .5s;
                }

                &:hover {

                    img {
                        transform: scale(1.2);
                    }
                }


                .sale-badge {
                    width: 160px;
                    height: 160px;
                    position: absolute;
                    overflow: hidden;
                    top: 0;
                    left: 0;

                    span {
                        background: #fff;
                        font-family: "Raleway", sans-serif;
                        font-weight: 500;
                        font-size: 16px;
                        width: 100%;
                        height: 25px;
                        color: #de4644;
                        position: absolute;
                        text-align: center;
                        top: -20px;
                        left: -65px;
                        transform-origin: top right;
                        z-index: 9;
                        transform: rotate(-45deg);
                    }





                }


            }

            .overlay {
                background: rgba(0, 0, 0, 0.8);
                transform: scaleX(0.90);
                padding-top: 5px;
                padding-bottom: 10px;
                bottom: 20px;
                position: absolute;
                width: 100%;

                h3 {
                    @include ralemed;
                    font-size: 36px;
                }

                p {
                    @include ralemed;
                    font-size: 24px;
                    padding-bottom: 15px
                }

                a {
                    @include shopbtn;
                    @include trans(0.4s);

                    &:hover {
                        @include bhover;
                    }
                }
            }
        }
    }
}



/* ======================
   Services Part Ends
====================== */