@import '../variables';

/* =========================
    Services Part Starts
======================== */

#service-head {
    background: $cl2;

    .service-head {
        .service-head-item {
            border-right: 1px solid $cl1;
            padding: 25px 0;

            .active {
                color: $brand;
            }

            h5 {
                @include openreg;
                font-size: 24px;
                margin-bottom: 25px !important;

                i {
                    margin-right: 5px
                }
            }

            p {
                @include openreg;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}

#service-body {
    padding: 90px 0;

    .service-body {
        .service-item {
            transform: scaleX(0.95);

            .service-item-body {
                overflow: hidden;

                img {
                    transition: all linear .5s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                .sale-badge {
                    background: #fff;
                    width: 100%;
                    position: absolute;
                    top: 40px;
                    left: -135px;
                    transform: rotate(-45deg);

                    p {
                        @include ralemed;
                        font-size: 16px;
                        color: $brand;
                        text-align: center;
                    }
                }


            }

            .overlay {
                background: rgba(0, 0, 0, 0.8);
                transform: scaleX(0.90);
                padding-top: 5px;
                padding-bottom: 10px;
                bottom: 20px;
                position: absolute;
                width: 100%;

                h3 {
                    @include ralemed;
                    font-size: 36px;
                }

                p {
                    @include ralemed;
                    font-size: 24px;
                    padding-bottom: 15px
                }

                a {
                    @include shopbtn;
                    @include trans(0.4s);

                    &:hover {
                        @include bhover;
                    }
                }
            }
        }
    }
}



/* ======================
   Services Part Ends
====================== */